name: deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:
    

jobs:
  build:
    
    env:
      platform: "DigitalOcean"
      region: "nyc1"
      droplet: "web"
      username: ${{ secrets.USERNAME }}
      password: ${{ secrets.PASSWORD }}
      version: ${{ vars.PROJECT_VERSION }}
    
    runs-on: ubuntu-latest

    steps:
      - name: "Mostrar mensaje"
        run: echo "Hola mundo"
      
      - name: "Mostrando variables de entorno"
        if: ${{ env.platform == 'DigitalOcean' }}
        run: |
          echo "Plataforma: ${{ env.platform }}"
          echo "Región: ${{ env.region }}"
          echo "Droplet: ${{ env.droplet }}"
          echo "Usuario: ${{ env.username }}"
          echo "Password: ${{ env.password }}"
          echo "Versión: ${{ env.version }}"

      - name: "Mostrado variables por defecto"
        run: |
          echo "Github repository: ${{ github.repository }}"
          echo "Github actor: ${{ github.actor }}"
          echo "Evento ${{ toJSON(github.event) }}"